<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="all.css">
</head>

<body>
    <div class="wrap">
        <img src="clip.png" alt="">

        <div id="content">
            <h1>To do what?</h1>
            <input type="text" placeholder="You should do..." class="text" v-model="newTodo">
            <!--輸入的待辦事項將由newTodo存取-->
            <button v-on:click="addTodo(newTodo)" class="btn">送出</button>
            <!--按下按鈕後將帶著以存取資料的newTodo觸發addTotdo的功能-->
            <ul class="list">
                <li v-for='todo in todos' 
                :class="{editing:todo == editedTodo}">
                <!--跑迴圈渲染出更新資料-->
                <div class="view">
                        <a href="#" @click.prevent="removeTodo(todo)">刪除 -</a>               
                        <label @dblclick="editTodo(todo)" >{{todo.content}}</label>
                        <!--點選兩次代辦事項可以做編輯觸發了帶有todo的editTodo的功能-->
                </div>                    
                    <input type="text" class="edit" v-model="todo.content"
                @blur="doneEdit(todo)"
                @keyup.enter="doneEdit(todo)">
                <!--按下enter完成編輯-->
                </li>
                
            </ul>
        </div>


    </div>
    <!--vue 引用-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script>
    const STORAGE_KEY="todos-storage"
var content = new Vue({
    el: '#content',
    data: {
        todos: [],
        newTodo: '',
        //儲存輸入的待辦事項
        editedTodo:null,
    },
    created(){
        this.todos =JSON.parse(localStorage.getItem(STORAGE_KEY)) || '[]'
     //重整頁面後代辦事項不因重整而清除
    },
    methods: {
        addTodo(todo) {
            this.todos.push({content:todo,completed:false,})
            //vue需要透過this去取資料          
            localStorage.setItem(STORAGE_KEY, JSON.stringify(this.todos));
            //將資料存在localstorage

        },
        removeTodo: function (todo) {
            this.todos.splice(this.todos.indexOf(todo), 1);
            localStorage.setItem(STORAGE_KEY, JSON.stringify(this.todos))
        },
        editTodo(todo){
            this.editedTodo = todo;
        },
        doneEdit(todo){
            if(!this.editedTodo){
                return
            }
            this.editedTodo = null,
            todo.content = todo.content.trim();
            if(!todo.content){
                this.removeTodo(todo);
            }
            localStorage.setItem(STORAGE_KEY, JSON.stringify(this.todos))
            //記得做任何刪減新增功能必須都要補上localstorage程式碼
        }
    },
})
</script>
</body>

</html>